body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(180deg, #fe8ad1 0%, #eaa1cd 20%, #7fd6fd 70%, #a4f1e8 100%);
  min-height: 100vh;
  color: #737373;
}

*:focus {
  outline: none;
}

/* iOSでのデフォルトスタイルをリセット */
button {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
}
button::-webkit-search-decoration {
  display: none;
}
/* マウスオーバーで枠の色を全体に */
button:focus {
  outline-offset: -2px;
}

button:disabled {
  cursor: initial;
}

.root {
  justify-content: center;
}
.header {
  position: sticky;
  background: linear-gradient(90deg, #fe8ae1 0%, #d79fea 23%, #aabeff 80%, #87cfed 100%);
  top: 0px;
  z-index: 1;
  border-left: 2px solid #fd8be2;
  border-right: 2px solid #89ceee;
  padding: 5px;
}
.header-inner {
  padding: 5px;
  background: #fff;
}
.footer {
  position: fixed;
  background: rgba(253, 139, 226, 0.5);
  bottom: 0px;
  width: 100vw;
  z-index: 1;
}
.footer-inner {
  padding: 5px;
}

/* パーツ一覧のボックス */
.content {
  /* width: calc(100% - 2em - 2px); */
  overflow-x: scroll;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.8em; */
  border: 1px solid #ddd;
  padding: 0.5em;
  margin: 0.5em;
  background: #fff;
  border-radius: 5px;
}

.select,
.cardtitleButton {
  font-size: small;
  background: linear-gradient(90deg, #fe8ae1 0%, #d79fea 23%, #aabeff 80%, #87cfed 100%);
  border-radius: 3px;
  padding: 2px;
}
.cardtitleButtonInnter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 100%;
  color: #7f9099;
  background: #fff;
  white-space: nowrap;
}

.modalInner {
  background: #fff;
  padding: 5px;
}
/* .cardtitleButton:hover {
  background: #67c5ff;
  color: white;
} */

/* .cardtitleButton:disabled {
  background-color: azure;
  color: black;
} */

.frontImg {
  margin-bottom: -60px;
  margin-top: -20px;
}

.title {
  font-weight: 400;
  color: #fff;
  display: inline-block;
}

.caption {
  font-size: smaller;
  color: gray;
}

select {
  width: 8em;
  font-size: 16px;
  color: gray;
}

.printItemList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.printItem {
  width: 40px;
  padding: 5px;
  text-align: center;
}

.addPrintButton,
.exportPrintImageButton {
  background: #ff6eb4;
  border-radius: 5px;
  color: aliceblue;
  max-width: 300px;
  padding: 5px;
}

.addPrintButton:disabled,
.exportPrintImageButton:disabled {
  background-color: gray;
}

.closeButton {
  background: #ff6eb4;
  color: aliceblue;
  border-radius: 20px;
  width: 30px;
  height: 30px;
}

.printListTitle {
  color: #bea94c;
  font-weight: 700;
  text-align: center;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.itemModal_props {
  display: flex;
}

.itemModal_props_name {
  width: 50%;
  height: 45px;
  margin-left: 20px;
  font-weight: bold;
}
.itemModal_props_value {
  width: 50%;
  height: 45px;
  text-align: right;
  margin-right: 20px;
}

.imageFrame {
  position: relative;
}

.imageFrame::before {
  border: 2px solid #fae946;
  border-radius: 12px;
  content: '';
  display: block;
  height: calc(100% - 26px);
  position: absolute;
  top: 13px;
  left: 13px;
  width: calc(100% - 26px);
}

.imageFrameTop {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.imageFrameBottom {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.imageFrameTop::before,
.imageFrameTop::after,
.imageFrameBottom::before,
.imageFrameBottom::after {
  background: url('https://cdn.primagi.jp/assets/images/common/bg_decoration_image_frame_gold_pc.png') no-repeat center/contain;
  height: 34px;
  width: 32px;
}

.imageFrameTop::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 7px;
}
.imageFrameTop::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 7px;
  transform: rotate(90deg);
}

.imageFrameBottom::before {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 7px;
  transform: rotate(-90deg);
}
.imageFrameBottom::after {
  content: '';
  position: absolute;
  transform: rotate(180deg);
  bottom: 7px;
  right: 7px;
}

.grayImg {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
