body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(90deg, #5552f0 0%, #aabeff 50%, #87cfed 100%);
  min-height: 100vh;
  color: #737373;
}

*:focus {
  outline: none;
}

/* iOSでのデフォルトスタイルをリセット */
button {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
}
button::-webkit-search-decoration {
  display: none;
}
/* マウスオーバーで枠の色を全体に */
button:focus {
  outline-offset: -2px;
}

button:disabled {
  cursor: initial;
}

.root {
  justify-content: center;
}

/* パーツ一覧のボックス */
.content {
  overflow-x: scroll;
  border: 1px solid #ddd;
  padding: 0.5em;
  margin: 0.5em;
  background: #fff;
  border-radius: 5px;
}
